<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a message from <%= @message.name %></h1>
    <p>
      <%= @message.content %><br>
    </p>
    <p>
      Reply to: <%= @message.email %>.
    </p>
  </body>
</html>